header{
    color: white;
}
.navBar{
    display: flex;
}

.list{
    display: flex;
    list-style: none;
}

.list li{
    margin-right: 20px;
}

body{
    background-image: linear-gradient(to right, rgba(0,0,0), rgba(235, 192, 20));
}